body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container, .loginPage{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container .content {
  padding: 1em;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster {
  width: 50px;
  border: 2px solid #fff;
}

.loginPage{
  background: gray;
  justify-content: center;
  align-items: center;
}

.loginContainer{
  width: 620px;
  height: 340px;
  background: #fff;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 0 8px #333;
}

.loginContainer > h1{
  text-align: center;
}

.account{
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}